{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
        <div class="h-screen flex flex-col items-center justify-center">    
            <h1 class="text-gray-200 text-4xl mb-4">Tailwind en action</h1>
            <button class="px-4 py-2 bg-red-500 hover:bg-red-600 text-red rounded">
                Cliquez ici 
            </button>
        </div>    
{% endblock %}